tools/Suno/telegram-workflow.json
{
  "name": "Suno Prompt → Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suno-prompt",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tools.optionalganesh.com"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "suno-prompt"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.chat_id }}",
        "text": "={{ $json.body.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [460, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Telegram", "type": "main", "index": 0 }]]
    },
    "Telegram": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
